.accio {
  width: 150px;
  height: 150px;
  background-color: #000000; /* black background */
}

.hello-accio {
  color: #ffffff; /* white text */
  margin-left: 32px;
  padding: 10px;
}

/* Your CSS Code here. */